!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1' }
  
  %title= "RareStep#{defined?(title) ? ' | ' + title : ''}"
  
  - if defined?(meta_description)
    %meta{ name: 'description', content: "#{meta_description}" }
    
  %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
  
  / El Styles
  %link{ href: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Cabin:700', rel: 'stylesheet', type: 'text/css', media: 'all' }
  %link{ href: '/css/colorbox.css', rel: 'stylesheet', type: 'text/css', media: 'all' }
  %link{ href: '/css/rarestep-www.css', rel: 'stylesheet', type: 'text/css', media: 'all' }
  
  / El Modernizr
  %script{ src: '/js/libs/modernizr-2.0.6.min.js' }
  
  / El Favicon
  %link{ rel: 'icon shortcut', href: '/favicon.ico?v=2', type: 'image/x-icon' }
%body
  #container
    #sidebar
      #top
        / El Logo
        %a{ id: 'logo', href: '#home', title: 'We make remarkably useful web-based software. Based in Birmingham, Alabama.' }
          %img{ src: '/images/rarestep_logo.png', alt: 'RareStep' }
        
        %ul.menu{ 'data-scrollspy' => 'scrollspy' }
          %li.home.active 
            %a{ href: '#home' }
              Home
          %li.team 
            %a{ href: '#work' }
              Our Work
          %li.contact 
            %a{ href: '#contact' }
              Contact Us
      
      %footer
        %p
          &copy; 2011 RareStep, LLC. All Rights Reserved.
      
    = yield
    
  = render_partial 'javascripts'
  = content_for(:javascript)